img {
    display: inline;
}

.titleImage {
    width: 100% !important;
}

form {
    text-align: center;
}

.card {
    width: 60%;
    margin: auto;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

input {
    margin: 5 !important;
}

.likert li {
    float: left;
    list-style-type: none;
  }

p {
    margin-bottom: 0rem !important;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: 'Cedarville Cursive', cursive;
  }

br {
    line-height: 5px;
 }

.carousel img {
    height: 300px;
    object-fit: contain;
  }